{% extends 'base.html' %}

{% block content %}

<h1>Attendance for {{ request.user.username }}</h1>

{% if attendance!=None %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for record in attendance %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{'Present' if record.status else 'Absent'  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else if attendance=one %}
<p>No attendance records found.</p>
{% endif %}

{% endblock %}