<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
</head>
<body>
<h1>Register Page</h1>
<form action="" method="post">
    {% csrf_token %}
    <h3>Register form</h3><br>
    
{#    <input type="text" placeholder="Full name"><br>#}
{#    <input type="number" name="face_id" placeholder="Number"><br>#}
{#    <input type="text" name="phone" placeholder="Phone"><br>#}
{#    <input type="text" name="address" placeholder="Address"><br>#}
{#    <input type="text" name="email" id="" placeholder="Email"> <br>#}
{#    <input type="text" name="username" placeholder="username"><br>#}
{#    <input type="text" name="password" placeholder="passsword"><br>#}
{#    <input type="submit" value="Register"><br>#}
{#    <input type="reset" value="Clear">#}
    {{ form.as_p }}
    <input type="submit" value="Register"><br>
    <input type="reset" value="Clear">
</form>
</body>
</html>